.place{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.placeItem{
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.placeImg{
    width: 100%;
}
.placeName{
    font-weight: bold;
}
.placeCountry{
    font-weight: 400;
}
.placePrice{
    font-weight: 500;
}
.placeRate>button{
    background-color:rgb(132, 170, 42);
    color: white;
    border: none;
    padding: 5px;
    margin-right: 10px;
    font-weight:  bold;
}
.placeRate>span{
    font-size: 15px;
}